@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:#fff;
}
g.recharts-cartesian-grid-vertical {
    display: none;
}
g.recharts-cartesian-grid {
    opacity: 0.5;
}
.AppUsage_cusPie__BulpL .recharts-wrapper {
    height: 160px !important;
    margin: auto;
    /* margin-left: 100px; */
    width: 320px !important;
    
}
.AppUsage_cusPie__BulpL .recharts-wrapper > .recharts-surface{
 
    margin: auto;
    height: 450px !important;
    /* margin-left: 100px; */

}
@media screen and (max-width: 768px) {
  

.AppUsage_cusPie__BulpL .recharts-wrapper {
    height: 117px !important;
    margin: auto;
    /* margin-left: 100px; */
    width: 320px !important;
}
.AppUsage_cusPie__BulpL .recharts-wrapper > .recharts-surface {
    margin: auto;
    height: 340px !important;
    width: 315px;
    padding-left: 22px;
    /* margin-left: 100px; */
}
  
}